<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns	= "http://www.w3.org/ns/widgets"
    xmlns:gap	= "http://phonegap.com/ns/1.0"
    id		    = "com.phonegap.hydra"
		version 	= "__VERSION__">
  <name>Hydra</name>
  <description>
    Hydrate your PhoneGap app with assets from the cloud.
  </description>
  <author email="fil@adobe.com">
    Fil Maj
  </author>
  <icon src="img/icon128.png" width="128" height="128" />
  <gap:splash src="img/hydra.png" width="450" height="350" />
</widget>
